# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
venv_paie/
.env

# Django
db.sqlite3
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db
# Secrets
.env
config_paie/settings_local.py