{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
            <div class="form-group">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }} :</label>
                {{ f }}
                <div class="form-error">{{ f.errors }}</div>
            </div>
        {% endfor %}

        <button type="submit">Ajouter</button>
    </form>
{% endblock %}
<form method="post">
    {% csrf_token %}
    
    <div class="form-error">{{ form.non_field_errors }}</div>
    
    <p>
        <label class="form-label" for="{{ form.nom.id_for_label }}">{{ form.nom.label }} :</label>
        {{ form.nom }}
    </p>
    <div class="form-error">{{ form.nom.errors }}</div>
    
    <p>
        <label class="form-label" for="{{ form.prenom.id_for_label }}">{{ form.prenom.label }} :</label>
        {{ form.prenom }}
    </p>
    <div class="form-error">{{ form.prenom.errors }}</div>
    
    <p>
        <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }} :</label>
        {{ form.email }}
    </p>
    <div class="form-error">{{ form.email.errors }}</div>
    
    <p>
        <label class="form-label" for="{{ form.salaire.id_for_label }}">{{ form.salaire.label }} :</label>
        {{ form.salaire }}
    </p>
    <div class="form-error">{{ form.salaire.errors }}</div>
    
    <p>
        <label class="form-label" for="{{ form.poste.id_for_label }}">{{ form.poste.label }} :</label>
        {{ form.poste }}
    </p>
    <div class="form-error">{{ form.poste.errors }}</div>
    
    <p>
        <label class="form-label" for="{{ form.tags.id_for_label }}">{{ form.tags.label }} :</label>
        {{ form.tags }}
    </p>
    <div class="form-error">{{ form.tags.errors }}</div>
    
    <p>
        <label class="form-label" for="{{ form.actif.id_for_label }}">{{ form.actif.label }} :</label>
        {{ form.actif }}
    </p>
    <div class="form-error">{{ form.actif.errors }}</div>
    
    <button type="submit">Ajouter</button>
</form>